<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Model1" connectionString="data source=10.226.9.150\zrenjanin,5555;initial catalog=DionIS;user id=developAcctZr;password=Zr3nj@n1nc1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="DionisDBContext" connectionString="data source=10.226.9.150\zrenjanin,5555;initial catalog=DionIS;user id=developAcctZr;password=Zr3nj@n1nc1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>